body{
    margin: 0;
    background-color: #660000;
}
#map{
        height: 300px;
        width: 57%;
    float:right;
       }
h5{
     font-style: normal;
    color:white;
    font-size:30px;
    margin-left:20px;
}
p{
 font-style: oblique;
    color:white; 
     
    margin-left:20px;
}

.stilius{
    height: 40%;
    width: 60%;
    float: left;
}
.renginiai{
    height:90%;
    width: 35%;
    float: right;
  
}

.kaina{
    height:50%;
    width:60%;
    float:left;
       
}


.clubpav{
     height:60%;
    width: 50%;
    float:left;
    margin-bottom: 10px;
}



.club{
    height:100%;
    width: 40%;
    float: left;
    margin-top: 200px;
}

h4{
     font-style: normal;
    color:white;
    font-size:30px;
    margin-left:30px;}
.logo{
     height: 80px;
    width:400px;
 
}


.pop{
     height: 700px;
    width: 1000px;
    float: left;
    margin-left:100px;
}



.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: lightcoral;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #A52A2A;
    float:right;
}

.button:hover {background-color: lightcoral}

.button:active {
  background-color: lightcoral;
  box-shadow: 0 5px #A52A2A;
  transform: translateY(4px);
}
      
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
    background-color:black;
}

ul.topnav li {
    float: right;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 25px 40px;
     height: 80px;
    
    text-decoration: none;
     margin: 5   ;
}

ul.topnav li a:hover:not(.active) {
    background-color:  lightcoral;;}

ul.topnav li a.active {
    background-color: lightcoral;;}

ul.topnav li.right {
    float: right;}
        
h1{
    text-align: center;
}
        
h2{
    text-align: center;
}
        
h4{
    text-align: center;
}

ul.top {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

ul.top li {
    float: left;}

ul.top li a {
    display: block;
     height: 100px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
     margin: 5   ;
}

ul.top li a:hover:not(.active) {
    background-color:  lightcoral;;}

ul.top li a.active {
    background-color:  lightcoral;;}

ul.top li.right {
    float: right;}
        
p{
    font-family: verdana;
}
 

//stiliaus foto
.cf:before, .cf:after { content: " "; display: table; }.cf:after { clear: both; }
*,*:after,*:before{transition: all 0.5s ease;}
img { max-width: 100%; height: auto; }
body{background:black;}


#gallery .gallery-slide {
  margin: 0;
  padding: 0;
  float: left
      
      
  width: 100%;
  max-width: 300px;
  position: relative;
  overflow: hidden;
}
#gallery .gallery-slide:after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

}
#gallery .gallery-slide:hover:after {
  background: transparent;
}
#gallery .gallery-slide:hover img{
  transform: scale(1.2) ;
}
@media only screen and (min-width:480px){
  #gallery .gallery-slide { width: 50%; }
}
@media only screen and (min-width:640px){
  #gallery .gallery-slide { width: 25%; }
}
@media only screen and (min-width:767px){
  #gallery { 
    
  }  
}

